@model BanMyPham.Models.KhachHang

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Layout/NguoiDung/_NguoiDungLayout.cshtml";
}

<div class="container" style="margin-top: 100px; margin-bottom: 10px">
    <div class="row">
        @*Thông tin khách hàng*@
        <div class="col-sm-4">
            <b>CHỈNH SỬA THÔNG TIN</b>
            @using (Html.BeginForm("Edit", "TaiKhoanManager"))
            {
                @Html.AntiForgeryToken()
                <table class="table">
                    <tbody>
                        <tr>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.MaKhachHang)
                            @Html.HiddenFor(model => model.TaiKhoan)
                            @Html.HiddenFor(model => model.MatKhau)
                        </tr>
                        <tr>
                            <th scope="row">Tên</th>
                            <td>
                                @Html.EditorFor(model => model.TenKhachHang, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TenKhachHang, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Địa chỉ</th>
                            <td>
                                @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Số điện thoại</th>
                            <td>
                                @Html.EditorFor(model => model.SoDienThoai, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SoDienThoai, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Giới tính</th>
                            <td>

                                @Html.DropDownListFor(model => model.GioiTinh,
        new List<SelectListItem>(2) {
        new SelectListItem { Text = "Nam", Value = "true",  },
        new SelectListItem { Text = "Nữ", Value = "false"}
    }, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Email</th>
                            <td>
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>
                                <input type="submit" value="Lưu" class="btn btn-default" />
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>
                                <p>
                                    @Html.ActionLink("Tài khoản", "Index")
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            }
        </div>

        @*Đơn hàng chờ xử lý*@
        <div class="col-sm-8">
            @Html.Action("DonHangKhachHang", "TaiKhoanManager")
        </div>
    </div>
</div>




<style>
    .section-slide {
        display: none;
    }

    .sec-banner {
        display: none;
    }
</style>

