@using BanMyPham.Models;
@model List<SanPham>

<div class="wrap-slick2">
    <div class="slick2">
        @foreach (var item in Model)
        {
            if (@item.MaSanPham != (int)Session["iMaSanPham"])
            {
                <div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
                    <!-- Block2 -->
                    <div class="block2">
                        <div class="block2-pic hov-img0">
                            <img src="@Url.Content("~/LayoutSources/images/" + @item.HinhAnh + ".jpg")" alt="IMG-PRODUCT">
                        </div>

                        <div class="block2-txt flex-w flex-t p-t-14">
                            <div class="block2-txt-child1 flex-col-l ">
                                <a href="@Url.Action("ChiTietSanPham", "NguoiDung", new { @iMaSanPham = item.MaSanPham })" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                    @item.TenSanPham
                                </a>

                                <span class="stext-105 cl3">
                                    @string.Format("{0:c}", item.DonGia)
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

